footer {
  background-color: rgba(201, 93, 93, 40%);

  width: 100%;
  height: auto;
}

#text_footer {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2vh;
  align-items: center;
  padding-bottom: 3vh;
}

input {
  border: none;
  border-radius: 10px;
}

#form_email {
  width: 20vw;
  height: 4.5vh;
  background-color: #eae8e2;
  padding-left: 1%;
  font-family: Poppins-Medium;
  font-weight: 300;
  font-style: normal;
  font-size: 1vw;
}

::placeholder {
  color: #363333;
  opacity: 0.5;
}

#form_submit {
  width: 8vw;
  height: 4.5vh;
  margin-left: 1vw;
  background: #eae8e2;
  color: #c95d5d;
  border: 0;
  border-radius: 7px;
  font-family: Poppins-Medium;
  font-weight: 300;
  font-style: normal;
  font-size: 1vw;
}

#social_media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-bottom: 4vh;
}
#social_media a {
  width: 2vw;
  padding-right: 2vh;
  opacity: 50%;
}

/*LAPTOP*/
@media only screen and (max-device-width: 1024px) {
  #form_email {
    width: 25.5vw;
    height: 4vh;
    font-size: 1.5vw;
    padding-left: 1%;
  }

  #form_submit {
    width: 3vw;
    margin-left: 7pt;
  }

  #social_media a {
    width: 2.5vw;
    padding-right: 3vh;
  }
}

/*TABLET*/
@media only screen and (max-device-width: 768px) {
  #form_email {
    width: 35vw;
    height: 4vh;
    font-size: 2vw;
    padding-left: 2%;
  }

  #form_submit {
    width: 3.5vw;
    height: auto;
    margin-left: 7pt;
  }

  #social_media a {
    width: 3vw;
    padding-right: 3vh;
  }
}

/*Mobile Phone L*/
@media only screen and (max-device-width: 425px) {
  #text_footer {
    font-size: 2.5vh;
  }

  #form_email {
    width: 60vw;
    height: 4.5vh;
    font-size: 3vw;
    padding-left: 2%;
  }

  #form_submit {
    width: 6vw;
    height: auto;
    margin-left: 7pt;
  }

  #social_media a {
    width: 6vw;
    padding-right: 3vh;
  }
}
/*Mobile Phone S*/
@media only screen and (max-device-width: 320px) {
  #text_footer {
    padding-top: 4vh;
    font-size: 2vh;
  }

  #form_email {
    width: 65vw;
    height: 4vh;
    font-size: 3vw;
    padding-left: 2%;
  }

  #social_media a {
    width: 7vw;
  }

  #social_media {
    padding-bottom: 3vh;
  }
}
